# cabal stuff
*/dist
*/cabal.sandbox.config
*/.cabal-sandbox

# vim stuff
**.swp

# ctags stuff
**/TAGS
**/tags

# ghc object (when compiled directly)
**/*.o
**/*.hi
**/*.dyn_o
**/*.dyn_hi

# benchmark binaries
bench/avltrees
bench/bools
bench/heaps
bench/id
bench/list
bench/pretty
bench/sieve
bench/sorting
bench/spring
eg/sorting

# test binaries
tests/test-mutate
tests/test-derive
